#HomeContainer {
  .mainContentWrapper {
    height: 800px;

    h1 {
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      letter-spacing: -1px;
      font-size: 1.8em;
      text-align: left;
      margin-left: 20px;

      @media (max-width: 768px) {
        font-size: 1.4em;
        margin-left: 12px;
      }
    }

    ul {
      padding-left: 0;
      margin-left: 20px;

      @media (max-width: 768px) {
        margin-left: 12px;
      }

      li {
        border: 1px solid #ccc;
        list-style: none;
        margin-bottom: 10px;
        padding: 15px;
        text-align: left;
        width: 96%;
        border-radius: 4px;

        span.transactionDesc {
          font-family: 'Lato', sans-serif;
          font-size: 14px;
          color: #777;

          i.bold {
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            color: #276097;
            font-size: 15px;
            font-style:normal;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        @media (max-width: 768px) {
          width: 88%;
        }
      }
    }
  }

  p {
    font-size: 60px;
  }
}
