#DonationContainer {
    .mainContentWrapper {
      height: 800px;

      form {
        width: 94%;
        margin-left: 20px;

        @media (max-width: 768px) {
          width: 88%;
          margin-left: 12px;
        }

        .select-style {
          border: 1px solid #ccc;
          border-radius: 3px;
          overflow: hidden;
          background: #fafafa;
          height: 16px;
          
          select {
            width: 100%;
            border: none;
            box-shadow: none;
            background: transparent;
            background-image: none;
            -webkit-appearance: none;
            font-size: 1rem;
            

            &:focus {
              outline: none;
            }
          }
        }

        input[type=text] {
          width: 100%;
          padding: 12px 20px;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          height: 60px;
          font-size: 1rem;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #4CAF50;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1.2em;
          font-family: 'Lato', sans-serif;
          text-transform: uppercase;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
      
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
      }
  
      h1 {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        letter-spacing: -1px;
        font-size: 1.8em;
        text-align: left;
        margin-left: 20px;
  
        @media (max-width: 768px) {
          font-size: 1.4em;
          margin-left: 12px;
        }
      }
  
      ul {
        padding-left: 0;
        margin-left: 20px;
  
        @media (max-width: 768px) {
          margin-left: 12px;
        }
  
        li {
          border: 1px solid #ccc;
          list-style: none;
          margin-bottom: 10px;
          padding: 10px;
          text-align: left;
          width: 96%;
  
          @media (max-width: 768px) {
            width: 88%;
          }
        }
      }
    }
  
    p {
      font-size: 60px;
    }
  }
  