/* Left Nav */

.leftNavContainer {
  border-right: 1px solid #ccc;
  height: 800px;

  ul.leftNav {
    padding-left: 24px;

    li {
      list-style: none;
      margin: 24px 0;
      text-align: left;

      a.menuLink {
        color: #444;
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;
        cursor: pointer;
        text-decoration: none;
  
        &:hover {
          color: #111;
          font-weight: 600;
        }

        i {
          @media (max-width: 768px) {
            font-size: 2em;
            text-align: center;
            width:70%;
          }
        }

        span.linkText {
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}